[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acme = "*"
josepy = "*"
httpx = "*"
cryptography = "*"

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.8"
